#continer{
margin: 50px;
width: 90%;
align-items: center;
align-content: center;

display: flex;
flex-wrap: wrap;
  
}
.divs{
    text-align: center;
    text-align: center;
    background-color: aqua;
    width: 185px;
    height: 100px;
    
    font-size: 50px;
    text-align: center;
}